.button {
  cursor: pointer;
  font: inherit;
  border: none;
  background-color: #000;
  color: white;
  padding: 0.5rem 2rem;
  display: flex;
  margin-left: 100px;
  justify-content: space-around;
  align-items: center;
  border-radius: 25px;
  max-width: 350px;
  font-weight: bold;
}

@media only screen and (max-width: 768px) {
  .button {
    padding: 2px 5px;
    display: flex;
    justify-content: center;
    position: absolute;
    margin-left: 20px;
  }
  h2 {
    display: none;
  }
}

.button:hover,
.button:active {
  background-color: orange;
  color: #000;
  transition: all 0.7s ease-out;
}

.icon {
  width: 1.35rem;
  height: 1.35rem;
  margin-right: 0.5rem;
}

.badge {
  background-color: #b94517;
  padding: 0.25rem 1rem;
  border-radius: 25px;
  margin-left: 1rem;
  font-weight: bold;
}

.button:hover .badge,
.button:active .badge {
  background-color: #92320c;
}

.bump {
  animation: bump 300ms ease-out;
}

@keyframes bump {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.9);
  }
  30% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}
